@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* 
overall colours, taken from an online source and modified to suit me 
*/
:root {
    --hue-neutral: 30;
    --hue-incorrect: 0;
    --hue-correct: 145;
}

/* styling for overall body */
body {
    --hue: var(--hue-neutral);

    position: relative;
    padding: 0;
    margin: 0;

    display: grid;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
    background-color: rgb(88, 85, 85);
    text-align: center;

    font-weight: 500;
}

/* styling for the overall game area */
.container {
    width: 900px;
    max-width: 80%;

    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* styling for the answer area */
.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 10px;
    margin: 20px 0px;
    justify-content: center;
}

/* overall button styling */
.button {
    --hue: var(--hue-neutral);
    border: 2px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 40%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(252, 235, 235);
    outline: none;
}

/* styling to help the user see what answer they are hovering over */
.button:hover {
    border-color: black;
}

/* styling to show the correct answer */
.button.correct {
    --hue: var(--hue-correct);
    color: black;
}

/* styling to show the incorrect answer */
.button.incorrect {
    --hue: var(--hue-incorrect);
}

/* start + next button styling */
.start-button, .next-button {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
}

/* restart button styling */
#restart-button {
    float: right;
}

/* styling for the next/start button div */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hidden hides the buttons when they are not needed */
.hidden {
    display: none;
}

/* Code below for index html page */

.grid-container {
    display: block;
    grid-template-rows: repeat(3, auto);
    padding: 10px;
    margin: 20px;

    width: 100vw;
    max-width: 80%;

    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    background-color: #fff;
    box-shadow: 0 0 10px 10px;
}

.grid-item {
    display: grid;
    padding: 10px;
    border: 1px solid blue;
}

/* styling for embedded hyperlink to gamers guide */
.gamers-guide {
    text-decoration: none;
}

/* font styling */

h1, h2 {
    font-weight: 1000;
}

h2, h3 {
    text-decoration: underline;
}

/* styling for the go to quiz button */

#quiz-button {
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: bold;

    padding: 10px 20px;
    justify-content: center;

    background-color: hsl(var(--hue), 100%, 40%);
    color: white;
}

#quiz-button:hover {
    border: 2px solid black;
}