@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

/* 
overall colours, taken from an online source and modified to suit me 
*/
:root {
    --hue-neutral: 30;
    --hue-incorrect: 0;
    --hue-correct: 145;
}

/* styling for overall body */
body {
    position: absolute;
    padding: 0;
    margin: 0;
    
    display: grid;
    width: 100%;

    justify-content: center;
    align-items: center;
    background-color: rgb(88, 85, 85);

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

/* styling for the overall game area */
.container {
    width: 800px;
    max-width: 80%;
    height: auto;

    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

    margin: 20% auto;
}

/* styling for the answer area */
.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px 0px;
    justify-content: center;
}

/* overall button styling */
.button {
    --hue: var(--hue-neutral);
    border: 2px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 40%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(252, 235, 235);
    outline: none;
}

/* styling to help the user see what answer they are hovering over */
.button:hover {
    border-color: black;
}

/* styling to show the correct answer */
.button.correct {
    --hue: var(--hue-correct);
    color: black;
}

/* styling to show the incorrect answer */
.button.incorrect {
    --hue: var(--hue-incorrect);
}

/* start + next button styling */
#start-button, #next-button {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}

#start-button {
    background-color: rgb(37, 206, 206);
    color: black;
    border: 2px solid hsl(195, 100%, 50%);
}

#start-button:hover {
    border: 2px solid black;
}


/* restart button styling */
#restart-button {
    float: right;
    background-color: rgb(187, 187, 187);
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#restart-button:hover {
    border: 2px solid black;
}

/* styling for the next/start button div */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hidden hides the buttons when they are not needed */
.hidden {
    display: none;
}

/* Code below for index html page */

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 10px;
    margin: 20px;

    width: 100%;
    max-width: 80%;

    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    background-color: #fff;
    box-shadow: 0 0 10px 10px;
}

.grid-item {
    display: grid;
    padding: 10px;
    grid-gap: 5px;
}

#welcome-section, #help-section {
    border: 1px solid black;
    margin: 10px;
}

/* styling for embedded hyperlink to gamers guide */
.gamers-guide {
    text-decoration: none;
}

/* font styling */

h1, h2 {
    font-weight: 1000;
}

h2, h3 {
    text-decoration: underline;
}

/* styling for the go to quiz button */

#quiz-button {
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: bold;

    padding: 10px 20px;
    justify-content: center;

    background-color: rgb(187, 187, 187);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#quiz-button:hover {
    border: 2px solid black;
}

/* styling for score */

.scores {
    background-color: rgb(53, 175, 89);
    float: left;
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* styling for home icon on quiz game */

.home {
    background-color: rgb(4, 154, 255);
    float: right;
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;

    text-decoration: none;
    color: black;
}

.home:hover {
    border: 2px solid black;
}

/* image styling */ 
img {
    max-width: 100%;
    max-height: 300px;
}

/* media queries - needs work*/

@media (max-width: 900px) {
    * {
        flex-direction: column;
    }
    .container {
        width: 100%;
        margin: 40% auto;
        padding: 10px;
    }
    body {
        display: flex;
    }
}